{% for worker_node in groups[ worker_nodes_group_name ] %}
{{ worker_nodes_list_file_env_variable_prefix }}{{ loop.index }}={{ hostvars[worker_node]['ansible_facts']['default_ipv4']['address'] }}
{% endfor %}
{{ worker_nodes_list_file_ssh_key_variable }}={{ ansible_facts['env']['HOME'] }}/{{ ssh_key_file }}
{{ worker_nodes_list_file_ssh_key_user_variable }}={{ ssh_key_user }}
